CompileFlags:
  Add:
    - -xc
    - -std=c11
    - -pedantic
    - -Wall
    - -Wextra
    - -Werror
    - -Wswitch-enum
    - -Wunreachable-code
    - -Isrc
    - -Isrc/core
    - -Isrc/terminal
    - -Isrc/utils
    - -Isrc/features
    - -fsanitize=undefined
    - -fsanitize=address
Diagnostics:
  ClangTidy:
    Add: [clang-analyzer-*]
    Remove: [clang-analyzer-cplusplus*, clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling]
